.main_conatiner {
  padding: 5px;
}

.container {
  display: flex;
  width: 100%;
  border: 1px solid var(--th-body-secondery-border-color);
  border-radius: 10px;
  flex-wrap: wrap;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.chip {
  background-color: var(--th-body-secondey-bg-color);
  padding: 7px 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.removeChip {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
}

.input_wrapper {
  display: inline-block;
  width: 70%;
  border: none;
}

.input {
  padding: 8px;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
}

.search_result_box {
  background: var(--th-body-secondey-bg-color);
}

.searchResult {
  font-size: 14px;
  color: var(--th-neutral-dark);
  list-style: none;
  text-transform: capitalize;
  padding: 5px;
  margin-bottom: 3px;
  border: none;
}

.searchResult:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid var(--th-body-secondery-border-color);
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}
