.main_container {
  margin: 0px 200px;
  position: relative;
  border: 1px solid var(--th-body-secondery-border-color);
}

.inner_conatiner {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 59px 10px 0px 10px;
  background-color: var(--th-body-secondey-bg-color);
}

.editor_side {
  width: 65%;
  padding: 20px 10px;
  border-right: 1px solid var(--th-body-secondery-border-color);
}

.editor_sideBard {
  width: 33%;
  padding: 20px 0px;
}

.input_filed_wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.title_input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid var(--th-separator);
  outline: none;
  border-radius: 5px;
}

.lable_wrapper {
  margin-bottom: 10px;
}

.meta_textArea {
  width: 100%;
  padding: 7px 5px;
  border: 1px solid var(--th-separator);
  outline: none;
  border-radius: 5px;
  height: 70px;
  resize: none;
}

.thumblin_upload {
  margin-bottom: 50px;
}

.submit_topBar {
  position: fixed;
  top: 50px;
  width: 73.5%;
  padding: 10px 15px;
  margin-bottom: 100px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--th-body-secondey-bg-color);
  border-bottom: 1px solid var(--th-body-secondery-border-color);
}

.editor_wrapper {
  /* min-height: 200px; */
}
