.flex_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.header_iconr {
  font-size: 50px;
  color: var(--th-primary-color);
}

.header_text {
  text-align: center;
  line-height: 1.5;
}

.opt_form_container {
  width: 100%;
}

.form_input_wrapper {
  margin-bottom: 20px;
}
