.main_container {
  /* border: 1px solid red; */
}

.content_main_container {
  display: flex;
  column-gap: 0px;
}

.banner_section {
  width: 20%;
  padding: 20px 0px;
}

.banner_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contnet_section {
  width: 55%;
  border: 1px solid var(--th-separator);
}

.comment_section {
  width: 25%;
}

.top_section {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
}

.title_meta_wrapper {
  margin-bottom: 20px;
  padding: 0px 10px;
}

.ssr_img_wrapper {
  max-height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.img_style {
  width: 80%;
  height: auto;
}

.actios_wrapper {
  position: relative;
}

.ssr_content_wrapper {
  text-align: justify;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .content_main_container {
    flex-direction: column-reverse;
  }

  .banner_section {
    width: 100%;
  }

  .contnet_section {
    width: 100%;
    padding-top: 70px;
  }

  .comment_section {
    display: none;
  }

  .top_section {
    flex-direction: column-reverse;
    padding: 0px;
  }
  .actios_wrapper {
    position: fixed;
    width: 100%;
    top: 50px;
    background-color: #fff;
    z-index: 10;
  }
}
