.date_range_container {
  border: 2px solid var(--ad-border-color);
  background-color: rgb(244 244 245 /1);
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px;
  font-size: 14px;
  border-radius: 10px;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.date_rangeBox {
  position: absolute;
  top: 40px;
  left: 20px;
  border: 2px solid var(--ad-border-color);
}

.date_range_container:hover {
  border: 2px solid rgb(244 244 245 / 1);
  background-color: #fff;
  cursor: pointer;
}
