.main_contatiner {
  width: 100%;
  padding: 25px 25px;
  height: 100px;
}

.inner_container {
  display: flex;
  column-gap: 10px;
}

.dateRange_Compoent_wrraper {
  display: flex;
  align-items: center;
}

.search_Compoent_wrraper {
}

.single_inputForm {
  display: flex;
  align-items: center;
}

.inline_form {
  display: flex;
  column-gap: 10px;
  /* border: 1px solid blue; */
}

.input_wrapper {
  /* border: 1px solid yellow; */
}

.btn_wrapper {
  /* border: 1px solid green; */
}

@media (max-width: 768px) {
  .main_contatiner {
  }
  .inner_container {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .search_Compoent_wrraper {
    width: 150px;
  }
}
