.main_conatiner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.inner_container {
  background-color: var(--th-body-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
}
