.main_conatiner {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.inner_container {
  background-color: var(--th-body-bg);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
}

.model_header {
}

.close_model {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  padding: 5px;
}

.model_heading_wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.model_body {
  padding: 10px;
}

.model_btn_wrapper {
  display: flex;
  justify-content: flex-end;
}

.btn_wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

@media (max-width: 768px) {
  .main_conatiner {
    padding: 20px;
  }
  .inner_container {
    width: 100%;
  }

  .model_heading_wrapper {
    text-align: center;
    margin-bottom: 5px;
  }
}
