/* Card.module.css */

/* Card container */
.card {
  background-color: var(--th-white);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  box-shadow: var(--card-shadow);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

/* Top Bar */
.cardTopBar {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  padding: var(--th-card-padding);
  background-color: var(--th-body-bg);
  border-bottom: 1px solid var(--card-border);
}

.cardUserInfo {
  display: flex;
  align-items: center;
}

.userImage {
  border-radius: 50%;
  border: 2px solid var(--user-image-border);
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Content */
.cardContent {
  padding: 15px;
}

.content_wrapper {
  display: flex;
  column-gap: var(--th-gap10);
}

.cardImage {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.img_style {
  width: 100%;
  height: 100%;
}

.metaDescription {
  width: calc(100% - 170px);
  color: var(--th-neutral-dark);
  letter-spacing: 0.5px;
  word-spacing: 1px;
  text-align: justify;
  padding-top: 5px;
}

/* Footer */
.cardFooter {
  display: flex;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--th-body-bg);
  border-top: 1px solid var(--card-border);
}

.likeSection {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--th-dark-blue-gray);
}

.heartIcon {
  font-size: 18px;
  margin-right: 5px;
}

.likeCount {
  font-size: 16px;
}

.arrowSection .arrowIcon {
  font-size: 18px;
  color: var(--th-dark-blue-gray);
}
.comment_statsBox,
.view_statsBox {
  display: flex;
  column-gap: 5px;
  font-size: 14px;
  align-items: center;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .cardTopBar {
    padding: 5px 5px;
  }

  .cardContent {
    padding: 5px;
  }

  .content_wrapper {
    flex-direction: column;
  }

  .cardImage {
    width: 100%;
    height: 200px;
  }

  .metaDescription {
    width: 100%;
  }
}
