.layout_conatiner {
  width: 100%;
  display: flex;
}

.auth_image_banner_container {
  width: 60%;
  position: relative;
  background-color: #f0f3fd;
}

.imgStyle {
  width: 100%;
  height: 100%;
}

.auth_page_container {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px;
}

.auth_form_Wrapper {
  /* border: 1px solid red; */
  width: 100%;
}

.form_heading {
  line-height: 1.5;
  margin-bottom: 20px;
}

.social_media_auth_wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth_seprate {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 10px;
}

.single_line {
  border: 1px solid gray;
  flex-grow: 1;
}

.form_inputs_wrapper {
  margin-bottom: 20px;
}

.form_input_wrapper {
  margin-bottom: 20px;
}

.form_redirection_info_wrapper {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .auth_image_banner_container {
    display: none;
  }

  .auth_page_container {
    width: 100%;
    padding: 10px;
  }
}
