.flex_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title_wrapper {
  text-transform: capitalize;
  font-family: Arial, sans-serif;
}

.text_data_wrapper {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  text-align: end;
}

.data_wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.text_style {
  font-size: 14px;
}

.socila_media_iconStyle {
  color: var(--th-neutral-dark);
  cursor: pointer;
  display: flex;
  column-gap: 5px;
  align-items: center;
}

@media only screen and (max-width: 600px) {
}
