.tab_container {
  width: 100%;
  border-bottom: 1px solid var(--th-body-secondery-border-color);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 16px;
  overflow-x: auto;
  background-color: var(--th-body-secondey-bg-color);
  box-shadow: var(--th-body-seondery-box-shadow);
}

/* Webkit scrollbar styles (Chrome, Safari) */
.tab_container::-webkit-scrollbar {
  height: 1px;
}

.tab_container::-webkit-scrollbar-track {
  background: transparent;
}

.tab_container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.sticky {
  position: fixed;
  width: 48.2%;
  top: 50px;
  background-color: var(--th-body-secondey-bg-color);
  border-bottom: 1px solid var(--th-separator); /* Uses your light gray color */
  box-shadow: var(--th-body-seondery-box-shadow);
  z-index: 9; /* Optional: to ensure it appears above other elements */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, top 0.3s ease;
}

.tab_warpper {
  position: relative;
  padding: 16px;
  text-transform: capitalize;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
  transition: color 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}
.tab_warpper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px; /* Adjust this value to match the thickness of the border */
  height: 3px; /* Adjust the height as needed */
  background-color: #007bff; /* Change this color to the hover color you want */
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
  z-index: 10;
}

.tab_warpper:hover::after {
  transform: scaleX(1);
}

.tab_warpper:hover {
  cursor: pointer;
  color: #007bff;
}

@media only screen and (max-width: 600px) {
  .tab_container {
    overflow-x: auto;
    padding: 0px 5px;
  }
  .tab_warpper {
    padding: 5px;
    font-size: 14px;
  }
  .sticky {
    width: 100%;
  }
}
