.conatiner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.like_iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.likeCount_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--th-font-small-size);
}

.liked_iconStyle {
  color: red;
}
