.com_container {
  /* border: 1px solid red; */
}

/* auth_from_btn_style */

.auth_from_btn_style {
  width: 100%;
  padding: 12px 8px;
  text-transform: uppercase;
  background-color: var(--th-primary-color);
  outline: none;
  border: none;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--th-font-family);
  font-size: var(--th-font-medium-size);
  letter-spacing: var(--th-letter-spacing);
  font-weight: bold;
}

.auth_from_btn_style:hover {
  background-color: var(--th-primary-hover-color);
}

.comment_btn {
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  background-color: var(--th-primary-color);
  outline: none;
  border: none;
  color: #fff;
  border-radius: var(--th-d-btn-radius);
  cursor: pointer;
  font-family: var(--th-font-family);
  font-size: var(--th-font-small-size);
  letter-spacing: var(--th-letter-spacing);
}

.comment_btn:hover {
  background-color: var(--th-primary-hover-color);
}

.btn_style {
  width: 100%;
  padding: var(--th-d-btn-padding);
  text-transform: uppercase;
  background-color: var(--th-primary-color);
  outline: none;
  border: none;
  color: #fff;
  border-radius: var(--th-d-btn-radius);
  cursor: pointer;
  font-family: var(--th-font-family);
  font-size: var(--th-font-small-size);
  letter-spacing: var(--th-letter-spacing);
}

.btn_style:hover {
  background-color: var(--th-primary-hover-color);
}

.disabled_btn {
  padding: var(--th-d-btn-padding);
  border: none;
  background-color: #ccc;
  cursor: not-allowed;
  color: #666;
}

.disabled_btn:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 600px) {
  .btn_style {
    font-size: var(--th-font-mini-size);
    padding: var(--th-m-btn-padding);
    letter-spacing: var(--th-m-letter-spacing);
    border-radius: var(--th-m-btn-radius);
  }
}
