:root {
  --th-body-bg: #f0f8ff;
  --th-body-secondey-bg-color: #e8f2fa;
  --th-body-secondery-border-color: #b0c4de;
  --th-body-seondery-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  --th-primary-color: #2980b9;
  --th-primary-hover-color: #2471a3;
  --th-navbar-bg-color: #1c2a35;

  --th-layout-gap: 100px;
  --th-black-color: #0e1113;
  --th-black-hover: #181c1f;
  --th-black-selected: #2a3236;

  --th-seconder-white: #dbe4e9;
  --th-separator: #dddddd;
  --th-muted: #afafaf;

  --th-box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px,
    rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 2px 2px -1px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px,
    rgba(42, 51, 70, 0.03) 0px 10px 10px -5px,
    rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

  /* cards  */
  --card-background: #ffffff; /* White background for the card */
  --card-border: #d3e2f0; /* Light Blue-Gray for borders */
  --card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  --user-image-border: #b0c4de; /* Light Steel Blue border for user image */
  --title-color: #2c3e50; /* Dark Blue for title */
  --description-color: #333333; /* Dark Gray for meta description */
  --footer-background: #f0f8ff; /* Alice Blue for footer background */
  --footer-text: #2c3e50; /* Dark Blue for footer text */
}

/*
 --th-primary-color : #d93900;
 --th-primary-hover-color: #ae2c00;
*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
  background-color: var(--th-body-bg);
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

/* my style start */

a {
  text-decoration: none;
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.5px;
}

h2 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
}

h3 {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.children_wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.large_iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.medium_icon_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.medium_text_wrapper {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: sans-serif;
  letter-spacing: 1.2px;
}

.small_text_wrapper {
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.input_errors {
  color: var(--th-primary-color);
  font-size: 12px;
  font-family: sans-serif;
}

.large_iconWrapper:hover {
  background-color: var(--th-black-hover);
}

.link_btn {
  background-color: var(--th-primary-color);
  text-transform: capitalize;
  font-family: sans-serif;
}

.link_btn:hover {
  background-color: var(--th-primary-hover-color);
}

.larg_Link_Btn {
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.medium_Link_btn {
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  font-family: sans-serif;
  text-transform: capitalize;
  padding: 8px 16px;
  font-size: 12px;
  color: var(--th-seconder-white);
  list-style: none;
}

li:hover {
  background-color: var(--th-black-selected);
}

@media only screen and (max-width: 600px) {
  h2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  h3 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 12px;
  }
}

/* My style end  */

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}
