.page_banner_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 170px;
  padding: 0px;
}

.layout_wrapper {
  display: flex;
  padding: 50px 100px;
  column-gap: 10%;
}

.content_side {
  width: 60%;
  position: relative;
}

.sticky_tab_wrapper {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.layout_side_bar {
  width: 25%;
}

@media only screen and (max-width: 600px) {
  .page_banner_wrapper {
    height: 100px;
  }

  .layout_wrapper {
    padding: 10px 0px;
  }

  .content_side {
    width: 100%;
  }
  .layout_side_bar {
    display: none;
  }
}
