.main_container {
  margin: 0px 150px;
}

.inner_container {
  display: flex;
  column-gap: 0%;
}

.content_side {
  width: 60%;
}

.header_wapper {
  border: 1px solid transparent;
}

.side_bar_container {
  width: 25%;
  position: relative;
}

.user_name_wrapper {
  line-height: 1.3;
  padding: 10px 0px;
}

.sticky_tab_wrapper {
  margin-bottom: 20px;
}

.tab_content_wrapper {
  padding: 5px 10px 5px 0px;
}

@media only screen and (max-width: 600px) {
  .main_container {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .inner_container {
    column-gap: 0px;
    width: 100%;

    padding: 0px;
  }

  .header_wapper {
    border: 1px solid transparent;
    padding: 0px 5px;
  }

  .content_side {
    width: 100%;
    padding: 5px 0px;
    width: 100%;
  }

  .side_bar_container {
    display: none;
  }

  .profile_header {
    padding: 10px 0px;
  }

  .user_image_wrapper {
    width: 50px;
    height: 50px;
  }

  .sticky_tab_wrapper {
    margin-bottom: 10px;
  }

  .tab_content_wrapper {
    padding: 5px 10px;
  }
}
