.container {
  width: 100%;
}

.header_section {
  margin-bottom: 20px;
}

.form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_style {
  width: 70%;
  padding: 20px;
  margin-bottom: 20px;
}

.form_input_wrapper {
  margin-bottom: 20px;
}

.forgot_password_info {
  text-align: center;
}

.link_style {
  color: var(--th-primary-color);
}

.google_auth_view_container {
}

.google_view {
  border: 1px solid var(--th-separator);
  display: flex;
  align-items: center;
  padding: 10px;
  column-gap: 20px;
  margin-bottom: 20px;
}

.google_img_wrapper {
  width: 40px;
  height: 40px;
}

.img_style {
  width: 100%;
  height: 100%;
}

.google_infoText {
  text-transform: capitalize;
}
