.main_container {
  margin: 0px 150px;
}

.inner_container {
  display: flex;
  column-gap: 5%;
}

.content_side {
  width: 65%;
}

.side_bar_container {
  width: 30%;
  position: relative;
}

.profile_header {
  display: flex;
  column-gap: 10px;
  padding: 20px 0px;
}

.user_image_wrapper {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.img_style {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user_name_wrapper {
  line-height: 1.3;
  padding: 10px 0px;
}

.sticky_tab_wrapper {
  margin-bottom: 20px;
}

.tab_content_wrapper {
  padding: 5px 5px;
}

@media only screen and (max-width: 600px) {
  .main_container {
    margin: 0px;
  }

  .inner_container {
    column-gap: 0px;
  }

  .content_side {
    width: 100%;
    padding: 5px 10px;
  }

  .side_bar_container {
    display: none;
  }

  .profile_header {
    padding: 10px 0px;
  }

  .user_image_wrapper {
    width: 50px;
    height: 50px;
  }
}
