.com_compoanent {
  width: 80%;
  height: 200px;
}

.banner_imgStyle {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .com_compoanent {
    width: 95%;
    height: 80px;
  }
}
