.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.model_container {
  width: 40%;
  background-color: #ffff;
  box-shadow: var(--th-box-shadow);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.model_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.close_iconWrapper {
  cursor: pointer;
}

.image_uplaod_section {
  display: flex;
  padding: 10px 20px;
  column-gap: 20px;
  align-items: center;
}

.img_wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.img_style {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload_info_wrapper {
  margin-bottom: 10px;
}

.btns_wrapper {
  display: flex;
  column-gap: 20px;
}

.model_footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}
