.main_conatiner {
  width: 100%;
  height: 50px;
  position: fixed;
  padding: 0px var(--th-layout-gap);
  background-color: var(--th-navbar-bg-color);
  z-index: 10;
  top: 0px;
  box-sizing: border-box;
}

.dekstop_navBar_wrapper {
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav_left_side {
  display: flex;
  column-gap: 20px;
  width: 30%;
}

.navBar_logo_wrapper {
  height: 50px;
  width: 200px;
}

.Nav_search_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navBar_right_side {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.mobile_navBar_wrapper {
  display: none;
}

@media only screen and (max-width: 600px) {
  .main_conatiner {
    padding: 0px 5px;
  }
  .dekstop_navBar_wrapper {
    display: none;
  }

  .mobile_navBar_wrapper {
    display: flex;
    align-items: center;
    color: #fff;
    column-gap: 10px;
    height: 100%;
    cursor: pointer;
  }
}
