.sidebar_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  padding: 20px; /* Add padding for better spacing */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.sticky {
  position: fixed;
  display: flex;
  width: 330px;
  top: 70px;
  background-color: #ffffff; /* Set background color for clarity */
  z-index: 1000;
  border: 1px solid var(--th-separator); /* Use your color for the border */
  padding: 20px; /* Add padding for consistency with the container */
}

.element_wrapper {
  width: 100%;
}

.link_tab_container {
  padding: 0px 10px;
}
.linkTag_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  margin-bottom: 20px;
}

.container_btn {
  text-align: center; /* Center the button */
}

.container_btn a {
  color: #007bff; /* Primary color for the link */
  text-decoration: none; /* Remove underline */
  font-weight: 500; /* Slightly bolder text */
}
